.xzyHeader{
    background:linear-gradient(270deg,rgba(255,88,60,1) 0%,rgba(255,100,55,1) 62%,rgba(255,112,49,1) 100%);
    line-height: 64px;
    height: 64px;
    width: 100vw;
    display: flex;
    .left,.right{
        padding:0 20px;
        display: flex;
    }
    .left{
        .name{
            color:#fff;
        }
    }
}